body {
  background-color: #007bff;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background-color: #cccccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #333;
}

h1,
h2,
h3 {
  text-align: center;
  color: #333;
}

h3 {
  font-size: 1.2em;
  margin-top: 15px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

form button {
  width: 48%;
  padding: 10px;
  margin: 5px 1%;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

input#search {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
}

table th {
  background-color: #007bff;
  color: #fff;
}
